.header {
    /* background-color: rgba(1, 82, 82, 0.5);
    border-radius: 20px; */
}

/* -------------------------------------------------------------------------- */

/*                                   !!NavBAR                                   */

/* -------------------------------------------------------------------------- */

.navEncompassingWrap {
    display: flex;
    justify-content: center;
}

.navWrappingDiv {
    background-color: rgba(199, 98, 25, 0.9);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 10px;
    width: 700px;
    display: flex;
    font-size: larger;
}

ul {
    width: 100%;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    clear: left;
    padding: 0
}

.usernameAndLogout {
    display: flex;
}

.userOrLogin {
    display: inline-flex;
    float: right;
    text-decoration: none;
    display: inline-flex;
}

.loggedInUser {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 auto;
}

.logOutButton {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 0 20px;
    border-radius: 200px;
}

.navLinks {
    display: inline-flex;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    color: black;
    font-size: larger;
    padding: 0 20px;
    flex-direction: row;
}

.logInRegister {
    text-decoration: none;
    color: black
}

/* -------------------------------------------------------------------------- */

/*                                        !EndNavBar                                 */

/* -------------------------------------------------------------------------- */