@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.LogInAllEncompassingWrapper {
    display: flex;
    justify-content: center;
}

.LogInAllEncompassingWrapper2 {
    background-color: rgba(255, 255, 255);
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 700px;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logInBox {
    display: flex;
    justify-content: center;
}

.logInBox2 {
    background-color: rgba(71, 22, 145, 0.1);
    width: 300px;
    border-radius: 10px;
    padding: 10px;
}

.logInBox3 {
    text-align: end;
}

.logInLabel {
    font-weight: 700;
    font-size: 15px;
}

.LogIninputboxes {
    margin: 10px;
    font-size: 14px;
}

.LogInButton {
    width: 50%;
    margin: 10px;
    border: none;
    padding: 1px;
    outline: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    box-shadow: 0 3px rgb(37, 36, 36);
}

.LogInButton:hover {
    background-color: rgb(250, 32, 75);
}

.LogInButton:active {
    box-shadow: 0 1px rgb(37, 36, 36);
    background-color: rgb(167, 16, 46);
    transform: translateY(1px);
}

@media only screen and (max-width: 700px) {
    .LogInAllEncompassingWrapper {
        display: flex;
        justify-content: center;
    }
    .LogInAllEncompassingWrapper2 {
        width: 300px;
    }
    .logInBox3 {
        text-align: center;
    }
    .logInLabel {
        display: flex;
        flex-direction: column;
    }
}